.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  width: 400px;
  margin: 20px;
  padding: 1rem;
  border-style: solid;
  border-color: #277ba0;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  transition: transform 0.25s ease-out;
}

.card-container:hover {
  transform: scale(1.05);
}

.candidate-name {
  color: #3b5e6e;
  font-size: 28px;
  font-weight: 700;
}

.rating-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.star-container {
  display: flex;
  align-items: center;
  color: #3b5e6e;
  font-size: 20px;
  font-weight: 500;
}
.star {
  transform: scale(0.6);
}

.credit-score {
  font-size: 15px;
  font-weight: 500;
  color: #3b5e6e;
}
