.card-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 200px;
  width: 400px;
  margin: 20px;
  padding: 1rem;
  border-bottom: 2px solid gold;
  border-radius: 10px;
  background-color: rgb(33, 55, 56);
  box-shadow: 6px 4px 4px lightgrey;
  transition: transform 0.25s ease-out;
}

.card-container:hover {
  transform: scale(1.05);
}

.candidate-name {
  color: white;
  font-size: 28px;
  font-weight: 300;
  padding-left: 13px;
}

.rating-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.star-container {
  display: flex;
  align-items: center;
  color: white;
  font-size: 21px;
  font-weight: 300;
  padding: 12px;
}

.star {
  transform: scale(0.6);
}

.credit-score {
  font-size: 21px;
  font-weight: 300;
  color: white;
}

.credit-card-chip {
  transform: scale(0.8);
}
