.search-bar-main-container {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
  margin-top: 26px;
}

.search-bar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 66px;
}

.search-icon {
  margin-top: 25px;
  transform: scale(0.7);
}

.search-bar-main-container .search-bar-container input {
  font-size: 21px;
  color: #3b5e6e;
  height: 30px;
  width: 336px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #277ba0;
  margin: 25px 0 0 0;
  text-decoration: none;
  outline: none;
}

.sort-container {
  cursor: pointer;
  display: flex;
  margin-top: 30px;
}

.sort {
  color: #277ba0;
  margin: 10px -12px 0 10px;
  font-size: 17px;
  font-weight: 500;
}

.sort-icon {
  transform: scale(0.4);
}

.tooltip {
  position: relative;
  cursor: help;
  color: #3b5e6e;
  display: inline-block;
  border-bottom: 1px dotted #3b5e6e;
  margin-top: 25px;
}

.asdf {
  padding-left: 15px;
}

.tooltip .tooltiptext {
  display: flex;
  align-items: flex-start;
  padding-left: 10px;
  flex-direction: column;
  visibility: hidden;
  width: 120px;
  top: -5px;
  left: 158px;
  margin-left: -60px;
  background-color: white;
  color: #3b5e6e;
  padding: 5px 0;
  border-radius: 6px;
  border: 1px solid teal;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
